services:
  www:
    container_name: cms_decode
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app:/var/www/html/app
      - ./public:/var/www/html/public
      - ./logs:/var/log/apache2/
    ports:
      - 8080:80
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: cms_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: cms_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: cms_phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: db
      PMA_USER: user
      PMA_PASSWORD: password
    ports:
      - 8081:80
    depends_on:
      - db

volumes:
  db_data:
